/* ADD FONT */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY CLASSES */

/* VARAIBELS */
:root{
  --BGCOLOR: white;
  --CARDCOLOR2:#435DC9;
  --BGMAIN2: black;
  --CONTAINERBG:whitesmoke;
}

/* GENERAL SYTLES */

body{
    font-family: "Lato", sans-serif;
}

.container{
    margin: 60px auto;
    padding: 20px;
    background-color:var(--CONTAINERBG);
    width: 70%;
    height: auto;
    box-shadow: 2px 2px 15px;
    border-radius: 20px;
    text-align: center;
}
.container__title{
    padding: 10px;
    

}
.container__subtitle{
    padding: 10px;
}

.main-section{
    display: flex;
    margin: 20px;
    justify-content: center;
    gap: 20px 0px;
    padding: 30px;

}
:where(.card_basic,.card_premium){
    width:25%;
    height: 450px;
    background-color:var(--BGCOLOR);
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.05);
}
.card_standard{
    width:25%;
    height: 450px;
    background-color: var(--CARDCOLOR2);
}
:where(.card_basic,.card_premium){
    padding: 20px;
    border-radius: 5px;
}
:where(.card_premium__title,.card_standard__title,.card_basic__title){
    font-weight: 900;
    margin-top: 5px;
    font-size: 40px;
}
.card_basic__subtitle{
    font-size: 30px;
    margin-top: 10px;
}
:where(.card_premium__details,.card_basic__details){
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-top:15px ;
    
   

}
:where(.card_basic__details p,.card_premium__details p){
    font-weight: 600;
}
.button1{
    width: 100%;
    margin: 0px;
    padding: 10px 60px 10px 60px;
    background-image: linear-gradient(to bottom,#3a7bd5,#3a6073);
    color: var(--BGCOLOR);
    text-decoration: none;
    border-radius: 5px;
    
    
}
.box{
    width:100% ;
    margin-top: 30px;
}

.card_standard{
    padding: 20px;
    transform: scale(1.1);
    border-radius: 10px;
}

.card_standard__details{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--BGCOLOR);
    padding: 10px;
    border-radius: 10px;
    margin-top:15px ;
    color: var(--BGCOLOR);
    font-weight: 600;
   
}
:where(.card_standard__title,.card_standard__subtitle){
    color: var(--BGCOLOR)
}
.button2{
    width: 100%;
    margin: 0px;
    padding: 10px 60px 10px 60px;
    background-color:var(--BGCOLOR);
    color: #3a6073;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;

}
:where(.card_standard__details p,.card_basic__details p,.card_premium__details p){
    display: flex;
    margin: 10px;
    gap: 5px;
}
.bx{
    margin-top: 3px;
}